#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    z-index: 1001;
    transform: translateZ(100px)
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 1001;
    transform: translateZ(100px)
}

#progressbar:after,
#progressbar:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
    z-index: 1001;
    transform: translateZ(100px)
}

#progressbar:after {
    filter: blur(30px);
    z-index: 99;
    transform: translateZ(100px)
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0)
    }
    50% {
        filter: hue-rotate(360deg)
    }
}

::-webkit-scrollbar {
    width: 0
}